<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Mangadl</title>
    <meta name="description" content="Manga H Downloader (zip and cbz)">
    <link id="favicon" rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAFHYqeZBo3cGMSYzo3TrNk8tUEDVtIwCALEmehlfK_SAf68JF">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
        <h1> Manga H Downloader </h1>
    </header>

    <main>
      <p class="bold">Curently Support:</p>
      <p><s><code>/download/h2r</code>: hentai2read</s></p>
      <p><s><code>/download/pururin</code>: pururin</s></p>
      <p class="bold">nHentai :</p>
            <br/>
            <p>zip : <code>/download/nhentai/:code/zip</code></p>
            <p>cbz : <code>/download/nhentai/:code/cbz</code></p> 
     </main>
    <footer>
    </footer>
  </body>
</html>
